.item {
    width: 200px;
    height: 200px;
    background: grey;
    margin: 10px;
    float: left;
    transition: width 0.2s, height 0.2s;
}

.item.selected{
    height: 400px;
    width: 400px;
}
