<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}FREE LOVE CMS{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets '@AppBundle/Resources/cms/css/cms.css' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}

{% endblock %}

{#{% block javascripts %}
    <script src="{{ asset_url }}"></script>
{% endblock %}#}
</body>
</html>